const { PercipioAxiosClient } = require('./lib/percipio-axios-client');

const {
  PropertyRequiredError,
  PropertyInvalidError,
  PercipioAxiosClientError,
} = require('./lib/errors');

{{#clients}}
const {
  {{className}},
} = require('{{fileName}}');

{{/clients}}

module.exports = {
  PercipioAxiosClient,
  PropertyRequiredError,
  PropertyInvalidError,
  PercipioAxiosClientError,
  {{#clients}}
  {{className}},
  {{/clients}}
};
